In [178]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")
pharma_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Training_set_begs.csv')

In [180]:
pharma_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23097 entries, 0 to 23096
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  23097 non-null  int64
 1   Diagnosed_Condition        23097 non-null  int64
 2   Patient_ID                 23097 non-null  int64
 3   Treated_with_drugs         23084 non-null  object
 4   Patient_Age                23097 non-null  int64
 5   Patient_Body_Mass_Index    23097 non-null  float64
 6   Patient_Smoker             23097 non-null  object
 7   Patient_Rural_Urban        23097 non-null  object
 8   Patient_mental_condition   23097 non-null  object
 9   A                          21862 non-null  float64
 10  B                          21862 non-null  float64
 11  C                          21862 non-null  float64
 12  D                          21862 non-null  float64
 13  E                          21862 non-null  float64
 14  F                          21862 non-null  float64
 15  Z                          21862 non-null  float64
 16  Number_of_prev_cond        21862 non-null  float64
 17  Survived_1_year            23097 non-null  int64
dtypes: float64(9), int64(5), object(4)
memory usage: 3.2+ MB

In [181]:
pharma_data.shape

(23097, 18)

In [182]:
pharma_data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 18 columns]

In [183]:
pharma_data['Survived_1_year'].value_counts()

1    14603
0     8494
Name: Survived_1_year, dtype: int64

In [184]:
pharma_data[pharma_data['Treated_with_drugs'].isnull()]

       ID_Patient_Care_Situation  ...  Survived_1_year
4                          33012  ...                1
218                        33008  ...                1
2540                       33014  ...                1
2711                       33004  ...                1
4308                       33001  ...                1
4887                       33011  ...                1
6308                       33010  ...                1
10388                      33006  ...                1
10663                      33009  ...                1
12782                      33000  ...                1
18630                      33005  ...                1
19123                      33002  ...                1
21705                      33013  ...                1

[13 rows x 18 columns]

In [185]:
pharma_data.A.fillna(pharma_data['A'].mean(), inplace=True)
pharma_data.B.fillna(pharma_data['B'].mean(), inplace=True)
pharma_data.C.fillna(pharma_data['C'].mean(), inplace=True)
pharma_data.D.fillna(pharma_data['D'].mean(), inplace=True)
pharma_data.E.fillna(pharma_data['E'].mean(), inplace=True)
pharma_data.F.fillna(pharma_data['F'].mean(), inplace=True)
pharma_data.Z.fillna(pharma_data['Z'].mean(), inplace=True)
pharma_data.head()
le = LabelEncoder()
pharma_data.Patient_mental_condition = le.fit_transform(pharma_data.Patient_mental_condition)
pharma_data.Patient_Smoker = le.fit_transform(pharma_data.Patient_Smoker)
pharma_data.Patient_Rural_Urban = le.fit_transform(pharma_data.Patient_Rural_Urban)



pharma_data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 18 columns]

In [187]:

pharma_data=pharma_data.drop('Patient_ID',axis=1)
pharma_data=pharma_data.drop('Treated_with_drugs',axis=1)

pharma_data.Number_of_prev_cond.fillna(pharma_data['Number_of_prev_cond'].mean(), inplace=True)
pharma_data.head()

KeyError: ignored

In [188]:
pharma_data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 16 columns]

In [189]:
X = pharma_data.drop('Survived_1_year', axis = 1) 

y = pharma_data['Survived_1_year']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.35, random_state = 101)
X_train.head()
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15013 entries, 469 to 13151
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  15013 non-null  int64
 1   Diagnosed_Condition        15013 non-null  int64
 2   Patient_Age                15013 non-null  int64
 3   Patient_Body_Mass_Index    15013 non-null  float64
 4   Patient_Smoker             15013 non-null  int64
 5   Patient_Rural_Urban        15013 non-null  int64
 6   Patient_mental_condition   15013 non-null  int64
 7   A                          15013 non-null  float64
 8   B                          15013 non-null  float64
 9   C                          15013 non-null  float64
 10  D                          15013 non-null  float64
 11  E                          15013 non-null  float64
 12  F                          15013 non-null  float64
 13  Z                          15013 non-null  float64
 14  Number_of_prev_cond        15013 non-null  float64
dtypes: float64(9), int64(6)
memory usage: 1.8 MB

In [190]:


from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import CategoricalNB
model=CategoricalNB()
model.fit(X_train, y_train)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [191]:
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Testing_set_begs.csv')
test_new.head()
test_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9303 entries, 0 to 9302
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  9303 non-null   int64
 1   Diagnosed_Condition        9303 non-null   int64
 2   Patient_ID                 9303 non-null   int64
 3   Treated_with_drugs         9303 non-null   object
 4   Patient_Age                9303 non-null   int64
 5   Patient_Body_Mass_Index    9303 non-null   float64
 6   Patient_Smoker             9303 non-null   object
 7   Patient_Rural_Urban        9303 non-null   object
 8   Patient_mental_condition   9303 non-null   object
 9   A                          9303 non-null   float64
 10  B                          9303 non-null   float64
 11  C                          9303 non-null   float64
 12  D                          9303 non-null   float64
 13  E                          9303 non-null   float64
 14  F                          9303 non-null   float64
 15  Z                          9303 non-null   float64
 16  Number_of_prev_cond        9303 non-null   float64
dtypes: float64(9), int64(4), object(4)
memory usage: 1.2+ MB

In [192]:

test_new.Patient_mental_condition = le.fit_transform(test_new.Patient_mental_condition)
test_new.Patient_Smoker = le.fit_transform(test_new.Patient_Smoker)
test_new.Patient_Rural_Urban = le.fit_transform(test_new.Patient_Rural_Urban)

test_new=test_new.drop('Treated_with_drugs', axis = 1)

test_new=test_new.drop('Patient_ID', axis = 1)

test_new.head()
test_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9303 entries, 0 to 9302
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  9303 non-null   int64
 1   Diagnosed_Condition        9303 non-null   int64
 2   Patient_Age                9303 non-null   int64
 3   Patient_Body_Mass_Index    9303 non-null   float64
 4   Patient_Smoker             9303 non-null   int64
 5   Patient_Rural_Urban        9303 non-null   int64
 6   Patient_mental_condition   9303 non-null   int64
 7   A                          9303 non-null   float64
 8   B                          9303 non-null   float64
 9   C                          9303 non-null   float64
 10  D                          9303 non-null   float64
 11  E                          9303 non-null   float64
 12  F                          9303 non-null   float64
 13  Z                          9303 non-null   float64
 14  Number_of_prev_cond        9303 non-null   float64
dtypes: float64(9), int64(6)
memory usage: 1.1 MB

In [193]:
Survived = model.predict(test_new)

res = pd.DataFrame(Survived)
res.index = test_new.index # its important for comparison
res.columns = ["Survied 1 or 0"]
res.to_csv("prediction_results.csv") 
from google.colab import files 
files.download('prediction_results.csv')    # the csv file will be saved locally on the same location where this notebook is located.